.flexbox
{
  display: flex;
  height: 50px;
}
/* .ele1
{
  background-color: black;
  color: white;
  margin-left: 30px;
} */
.pink-box
{
  background-color: lightpink;
  width: 100px;
}
.blue-box
{
  background-color: lightblue;
  flex-direction: column;
  width: 200px;
  display: flex;
  justify-content: start;
}
.black-box
{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.blue-bet
{
  display: flex;
  background-color: lightblue;
  flex: 1;
}