.cloth
{
  position: relative;
  display: inline-block;
}
.offer-tag
{
  background-color:black;
  color: white;
  font-family: Roboto,Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 0px;
}
